@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f7f8;
}




  .accordion {
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 30rem;
    gap: 0.1rem;
    transition: 0.3s;
  }

  .accordion:hover {
    gap: 0;
  }

  .accordion h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    white-space: nowrap;
  }

  .accordion li {
    position: relative;
    overflow: hidden;
    flex: 0 0 4rem;
    border-radius: 50px;
    opacity: 0.75px;
  }

  .accordion li img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .accordion li,
  .accordion li img,
  .accordion li .contents,
  .accordion li .contents span {
    transition: 0.3s;
  }

  .accordion li .contents {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: #02022e;
    background: linear-gradient(
      0deg,
      rgb(0 0 0 / 70%) 10%,
      rgb(255 255 255 / 0%) 100%
    );
    opacity: 0;
    visibility: hidden;
  }

  .accordion li .contents span {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 50px;
    translate: -300px 0;
    visibility: hidden;
    opacity: 0;
  }

  .accordion li:hover {
    flex: 0 1 17rem;
    scale: 1.1;
    opacity: 1;
  }

  .accordion li:hover .contents {
    opacity: 1;
    visibility: visible;
  }

  .accordion li:hover span {
    translate: -50% 0;
    opacity: 1;
    visibility: visible;
  }


@media (min-width: 768px) {
  .accordion {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30rem;
    gap: 0.1rem;
    transition: 0.3s;
  }

  .accordion:hover {
    gap: 0;
  }

  .accordion h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    white-space: nowrap;
  }

  .accordion li {
    position: relative;
    overflow: hidden;
    flex: 0 0 4rem;
    border-radius: 50px;
    opacity: 0.75px;
  }

  .accordion li img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .accordion li,
  .accordion li img,
  .accordion li .contents,
  .accordion li .contents span {
    transition: 0.3s;
  }

  .accordion li .contents {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: #02022e;
    background: linear-gradient(
      0deg,
      rgb(0 0 0 / 70%) 10%,
      rgb(255 255 255 / 0%) 100%
    );
    opacity: 0;
    visibility: hidden;
  }

  .accordion li .contents span {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 50px;
    translate: -300px 0;
    visibility: hidden;
    opacity: 0;
  }

  .accordion li:hover {
    flex: 0 1 29rem;
    scale: 1.1;
    opacity: 1;
  }

  .accordion li:hover .contents {
    opacity: 1;
    visibility: visible;
  }

  .accordion li:hover span {
    translate: -50% 0;
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 1280px) {
  .accordion {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 35.8rem;
    gap: 1rem;
    transition: 0.3s;
    margin: 1.5rem 0 4rem;
  }
  
  .accordion:hover {
    gap: 0;
  }
  
  .accordion h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
    border-bottom: 2px solid #fff;
    white-space: nowrap;
  }
  
  .accordion li {
    position: relative;
    overflow: hidden;
    flex: 0 0 8.5rem;
    border-radius: 50px;
    opacity: 0.75px;
    cursor: pointer;
  }
  
  .accordion li img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .accordion li,
  .accordion li img,
  .accordion li .contents,
  .accordion li .contents span {
    transition: 0.3s;
  }
  
  .accordion li .contents {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: #02022e;
    background: linear-gradient(
      0deg,
      rgb(0 0 0 / 70%) 10%,
      rgb(255 255 255 / 0%) 100%
    );
    opacity: 0;
    visibility: hidden;
  }
  
  .accordion li .contents span {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 50px;
    translate: -300px 0;
    visibility: hidden;
    opacity: 0;
  }
  
  .accordion li:hover {
    flex: 0 1 50rem;
    scale: 1.1;
    z-index: 10;
    opacity: 1;
  }
  
  .accordion li:hover .contents {
    opacity: 1;
    visibility: visible;
  }
  
  .accordion li:hover span {
    translate: -50% 0;
    opacity: 1;
    visibility: visible;
  }
  
  .about-services h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  .about-services {
    padding: 3rem 0 2rem;
  }
}